.comments-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.comments__like {
  color: #d22856;
  text-decoration: none;
  font-weight: 400;
}

.comments__heart {
  color: #d22856;
  text-decoration: none;
  font-weight: 400;
}

.comments__like-heart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.comments__wrapper--current {
  width: 100%;
}
