.main-header {
  background-color: rgba($color: #000000, $alpha: 0.3);
  color: #ffffff;
  background-image: url("../img/back-tablet.jpeg");
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  outline: none;
  text-decoration: none;
}
