.user-list__item a {
  color: #ffffff;
  outline: none;
  text-decoration: none;
  align-items: center;
  font-weight: 700;
  line-height: 32px;
  font-size: 18px;
}

.user-list__item {
  display: block;
  list-style-type: none;
}
