.product {
  background-image: url("../img/pink-phone.png");
  background-repeat: no-repeat;
  background-position: center center;
  color: #ffffff;
  text-align: center;
}

.product__title {
  line-height: 29px;
  font-size: 24px;
}
