.users-photo {
  text-align: center;
}

.users-photo__title {
  font-weight: 300;
  color: #ffffff;
  background-image: url("../img/back-tablet.jpeg");
  background-color: #97c6f9;
}

.users-photo__text {
  color: #283645;
}
